{{ template "header.gohtml" }}
<h1>About</h1>
<p><code>deskd</code> is created by Alisdair MacLeod and released under the terms of the
    <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License</a>.
<p>Source code for <code>deskd</code> can be obtained from <a href="https://github.com/admacleod/deskd">here</a>.
{{ template "footer.gohtml" }}
