{{ template "header.gohtml" }}
<form>
    <label for="day">Choose a day:</label>
    <input type="date" id="day" name="day">
    <br/>
    <br/>
    <button type="submit">Next</button>
</form>
{{ template "footer.gohtml" }}
