{{ template "header.gohtml" }}
<form>
    <label for="day">Choose a day:</label>
    <input type="date" id="day" name="day">
    <br/>
    <button class="btn btn-info" type="submit">Next</button>
</form>
