<!--
SPDX-FileCopyrightText: 2022 Alisdair MacLeod <copying@alisdairmacleod.co.uk>
SPDX-License-Identifier: AGPL-3.0-only
-->
{{ template "header.gohtml" }}
<form>
    <label for="day">Choose a day:</label>
    <input type="date" id="day" name="day">
    <br/>
    <button class="btn btn-info" type="submit">Next</button>
</form>
